// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #463deb;
$primary-hover:  #469ee6;

$secondary: #1F2937;

$primary-text: #111827;
$secondary-text: #f1efef;

/* Border Radius */
$radius-lg: 1rem;
$radius-xl: 1rem;

/* Border color */
$border-color: #c6c7c9;

$background-color: #f9fafb;

/* Padding */
$padding-lg: 5rem;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

//-------------------------- HEADER --------------------------

.header-container{
    // La navbar reste au dessus du reste
    z-index: 1000;
}

.navbar-brand{
    color: $primary;
    font-size: 1.5rem;
}

.navbar-brand:hover{
    color: $primary-hover;
}

.nav-item{
    --bs-nav-link-color: #{$primary-text};  
    --bs-nav-link-hover-color: #{$primary};
}

.btn-primary{
    border-radius: $radius-lg;
    color: $secondary-text;
    background-color: $primary;
}

.btn-primary:hover{
    background-color: $primary-hover;
    border-color: $primary-hover;
}

//-------------------------- END HEADER --------------------------

//----------------------------- MAIN -----------------------------


.photo img-fluid{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: $radius-xl;
}

.card-row{
    height: 100px;
}

.card-skills{
    border: 1px solid $border-color;
}

.card-skill{
    border-radius: $radius-xl;
    background-color: $background-color;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
}

.skill{
    border: 1px solid $border-color;
    border-radius: $radius-xl;
    background-color: $background-color;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
}

.img{
    object-fit: contain;
}



//--------------------------- END MAIN ---------------------------

//---------------------------- FOOTER ----------------------------



//-------------------------- END FOOTER --------------------------